# secret files
**/*.env

# node packages
**/node_modules/**

# IDE related : Webstorm
**/.idea

# practice directory
**/practice
part-3/backend

# Playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/